/*common css*/
body{
    font-family: Roboto;
}
.wrapper{
    max-width: 1280px;
    margin: 0 auto;
}
li{
    list-style-type: none;
}
.link{
    text-decoration: none;
    display: block;
}
/*common css*/
/* header*/
.header-logo{
    font-size: 80px;
    line-height: 94px;
    text-align: start;
    text-decoration: none;
    color: #000000;
}
.header-logo--highlight{
    color: deepskyblue;
}
.header-nav-list{
    background-color: #35444f;
    height: 72px;
    display:flex;
    justify-content: center;
}
.header-nav-list-item{
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    border-left: 1px solid white;
    text-align: center;
}
.header-nav-list-item.link{
    padding: 26px 40px 19px;
}
.header-nav-list-item.link:hover{
    background: #222F3A;
    cursor:pointer;
}
.extra-divider{ /* optional,to visually finish nav-bar . If not required - can delete*/
    border-right: 1px solid white;
}
/* header*/
/*footer*/
.footer-nav{
    height: 69px;
    background: rgba(99, 105, 110, 0.48);;
    margin-top: 0;
    padding-left: 0;
    padding-right: 40px;
    display: flex;
    justify-content: center;
}
.footer-nav-list{
    margin-top:0;
    padding-left: 20px;
    display: flex;
    justify-content: center;
}
.footer-nav-list-item{
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}
.footer-nav-list-item.link{
    padding: 20px 20px;
}
.footer-nav-list-item.link:hover{
    color: steelblue;
    text-decoration: steelblue underline;
    cursor: pointer;
}
.footer-copyright{
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    padding-left: 80px;
}
/*footer*/
/*main*/
.main-nav-list{
    border: 1px solid black;
    height: 398px;
    width: 344px;
    margin: 0;
    padding: 0;
}
.main-nav-list-item{
    color: #485863;
    font-size: 27px;
    line-height: 27px;
}
.main-nav-list-item.link{
    padding-top: 26px;
    padding-left: 44px;
    padding-bottom: 26px;
}
.main-nav-list-item.link:hover{
    background-color:#DBDBDB;
    padding-left:82px;
    cursor: pointer;
}
.main{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.main-article{
    margin-left: 52px;
}
.main-article-box{
    height: 529px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-article-box-img:hover{
    transition: 2s;
    transform: scale(1.1);
    cursor: pointer;
}
.main-article-content{
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.paragraph-intro{
    margin-top:37px
}
.paragraph-body{
    margin-top: 34px;
    margin-bottom: 54px;
}
/*main*/